@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1vw;
  box-sizing: border-box;
}

body {
  margin-bottom: 1%;
  background-color: #f9f9f9;
}
.nav-bar {
  display: flex;
  align-items: center;
  padding: 10px 30px 5px;
  margin-bottom: 5px;
}

.logo-container > img {
  width: 150px;
  padding: 10px;
}

.nav-container {
  margin: auto;
  font-weight: bold;
  padding-left: 5%;
}

.mainnave {
  margin: 0px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
.nav-profile {
  width: 20%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav-photo-profil {
  width: 15%;
  margin-right: 15px;
}
.nav-photo-profil > img {
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
}
.nav-user-name {
  font-size: 1.5rem;
}
.nav-status {
  display: flex;
}

.nav-status-light {
  border: 1px solid green;
  border-radius: 50%;
  width: 7px;
  margin: 3px 4px;
  background-color: green;
}

.nav-status-pseudo {
  font-size: 1.2rem;
}

.nav-bar-wave {
  width: 100%;
  height: 5px;
}

.learn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#un {
  padding-left: 0px;
}
#log {
  padding-left: 0px;
}
.learn p {
  padding-left: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  color: #c1c1c1;
}

.learn p span {
  font-size: 1.5vw;
  width: 90px;
  color: #192b41;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  text-align: center;
  text-decoration: none;
}

#logo {
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.row {
  margin: 0px;
}

.main {
  display: flex;
  align-items: center;
}

.percentProfit {
  padding-left: 15px;
  width: 300px;
}
.indic {
  display: flex;
  justify-content: center;
}

.indic2 {
  display: flex;
}

#chart_div {
  align-items: center;
  width: 100%;
  height: 500px;
}

.but {
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
}

.buy {
  height: 50px;
  width: 100px;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3REM;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

.short {
  height: 50px;
  width: 100px;
  background-color: #ff0000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3REM;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
.buy2 {
  padding-right: 15px;
}
.sell {
  height: 50px;
  width: 100px;
  background-color: #ff0000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3REM;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  display: none;
}

.cover {
  height: 50px;
  width: 100px;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3REM;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  display: none;
}

.container {
  margin: 0px;
}

.your-clock {
  padding-left: 20%;
}
.flip-clock-label {
  display: none;
}

.flip-clock-wrapper {
  width: 60%;
}

.leaderboard {
  display: none;
  position: absolute;
  padding: 15%;
  padding-top: 5%;
  z-index: 10;
  width: 100%;
  top: 0px;
  bottom: 0px;
}

.leaderboard .item {
  width: 80%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  padding: 5%;
  margin: 5%;
  overflow: hidden;
  border-bottom: solid 1px #192b41;
  padding: 10px 0 10px 10px;
}

.leaderboard .rank {
  float: left;
  font-size: 20px;
  margin-top: 30px;
  min-width: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.leaderboard .content {
  overflow: hidden;
}

.leaderboard .leaderboardList a {
  text-decoration: none;
  color: inherit;
}
.leaderboard .avatar {
  float: left;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 5px;
  margin-right: 10px;
  background-color: #192b41;
  overflow: hidden;
}
.leaderboard .avatar img {
  max-height: 100%;
  max-width: 100%;
  border: none;
}

.leaderboard .rankInfo {
  overflow: hidden;
}

.leaderboard .leaderboardList a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.leaderboard .name {
  display: inline-block;
  font-size: 20px;
  padding-top: 20px;
  float: left;
}

.leaderboard .points {
  font-size: 18px;
  color: #192b41;
  padding-right: 20px;
  white-space: nowrap;
  float: right;
  margin-top: 20px;
}

/* SCREEN LOG IN
-------------------------------------------------- */
#screen-log-in {
  display: none;
  color: black;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
}
form {
  margin-top: 60px;
  padding-left: 40%;
}

label,
input {
  margin-right: 20px;
  font-size: 1.5rem;
}

.formul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.logo-container-logIn {
  width: 150px;
  padding: 10px;
}

.logo-container-logIn img {
  width: 150px;
  padding: 10px;
}
#title-screen-log {
  font-size: 4rem;
  font-weight: 500;
}

#startGame {
  margin-top: 70px;
  box-shadow: 0 1px 1px #33333d;
  border-radius: 5px;
  width: 150px;
  font-size: 2rem;
  font-weight: 400;
  color: #f9f9f9;
  background-image: -webkit-linear-gradient(#40404b, #373744);
  background-image: -o-linear-gradient(#40404b, #373744);
  background-image: linear-gradient(#40404b, #373744);
}
/* Center align the text within the three columns below start button */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 500;
}
.marketing .col-lg-4 p {
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 2rem;
  font-style: italic;
}
.icon {
  border: 4px solid white;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 30px;
}

.marketing {
  background-color: rgba(23, 39, 58, 0.5);
  bottom: 0;
  padding: 25px 100px 20px;
  color: white;
}

.register {
  margin-bottom: 60px;
}

.marketing-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
}

/*buton*/
.timer {
  display: flex;
  width: 20%;
}
.timer p {
  margin: 0;
  padding-right: 5%;
  padding-top: 5%;
  color: #c1c1c1;
}
.timer2 {
  padding-right: 5%;
}
.fab {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.fab2 {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #4caf50;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.fab2:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 640px) {
  #logo {
    width: 75px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
  }
  .learn p {
    padding-left: 5px;
  }
  .flip-clock-wrapper {
    width: 30%;
  }
  .your-clock {
    padding-left: 5%;
  }
  form {
    margin-top: 30px;
    padding-left: 10%;
  }
}
